.nothing-left-to-review-or-resolve {
  @include block-message;
  background: $gold;
  font-size: $font-large;

  .trophy {
    color: #fff;
    margin-right: 0.4em;
    vertical-align: middle;
  }

  .text {
    // Fix vertical centering in relation to trophy.
    position: relative;
    top: 2px;
  }
}

