<a href="/commits?auth_key=<%= @conn.params["auth_key"] %>">Commits</a>
<a href="/comments?auth_key=<%= @conn.params["auth_key"] %>">Comments</a>
<a href="/settings?auth_key=<%= @conn.params["auth_key"] %>">Settings</a>
